{% extends 'base.html.twig' %}

{% block title %}GIF Countdown Generator{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {{ include('gif/form/form.html.twig', {
                    'embed_code': embed_code
                }) }}
            </div>
        </div>
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
